table{
	border: 1px solid black;
	width: 600px;
	background-color: #ccc;
	border-spacing: 20px;
}
tr{
	border: 1px solid red;
}
td{
	border: 1px solid black;
	background-color: white;
	text-align: center;
	padding: 10px;
}