h1 {
	color: #46EE14;
}
h2 {
	color: #EE2514;
}
h3 {
	color: #0B85F1;
}
h4 {
	color: #F10BEE;
}
h5 {
	color: #F1D90B
}
h6 {
	color: #E5E5E1
}
p {
	color: grey;
}
a {
	color: yellow;
}